@keyframes slide-and-fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    transform: translateY(-200px);
  }
}

@keyframes fade-away {
  0% {
    opacity: 100%;
    transform: translateY(-200px);
  }
  100% {
    opacity: 0%;
    transform: translateY(-200px);
  }
}

@keyframes wiggle {
  0% {
   transform: rotate(0deg) scaleX(-1);
  }
  50% {
    transform: rotate(-3deg) scaleX(-1);
  }
  100% {
    transform: rotate(0deg) scaleX(-1);
  }
}

@keyframes slide-menu-out {
  0% {
    width: 50px;
  }
  100% {
    width: 300px;
  }
}

@keyframes slide-menu-in {
  0% {
    width: 300px;
  }
  100% {
    width: 50px;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%
  }
  100% {
    opacity: 0%;
    display: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
    display: none;
  }
  70% {
    opacity: 0%;
    display: none;
  }
  100% {
    opacity: 100%;
    display: flex;
  }
}

@keyframes increase-margin {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes decrease-margin {
  0% {
    margin-left: 50px;
  }
  100% {
    margin-left: 0px;
  }
}
.slide-and-fade {
  animation: slide-and-fade 1s forwards;
}

.fade-away {
  animation: fade-away 1s forwards;
}

.body-image {
  filter: drop-shadow(2px 2px 2px #222);
}

.wiggle {
  animation: wiggle 2s infinite;
}

.slide-menu-out {
  animation: slide-menu-out 1s forwards;
}

.slide-menu-in {
  animation: slide-menu-in 1s forwards;
}

.fade-out {
  animation: fade-out 0.3s forwards;
}

.fade-in {
  animation: fade-in 0.8s forwards;
}

.increase-margin {
  animation: increase-margin 0.5s forwards;
}

.decrease-margin {
  animation: decrease-margin 0.5s forwards;
}

body {
  overflow-x: hidden
}